# Armazenamento Físico
UPLOAD_LOCATION=LOCATION

# Base de Dados (PostgreSQL)
DB_USERNAME=username
DB_PASSWORD=password
DB_DATABASE_NAME=immich
DB_URL=postgresql://postgres:password@database:5432/immich?sslmode=disable